#include "resource.h"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "2Player Converging Tet"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "2PCT"
      VALUE "LegalCopyright", "V.A."
      VALUE "OriginalFilename", "2PCT.exe"
      VALUE "ProductName", "2PCT"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

MAIN_GAME_ICON ICON "MainGameIcon.ico"
MENU_BN RCDATA "MenuButtons.bin"
MENU_INST RCDATA "MenuInstructions.bin"
DIGIT_GFX RCDATA "Digits.bin"
SCORE_GFX RCDATA "Score.bin"
PNEXT_GFX RCDATA "PlayerNext.bin"

